<hr>
<button (click)="loadPost()">load post</button>
GET
<pre *ngIf="resultGet; else noResult">
    {{ resultGet | json }}
</pre>
POST
<pre *ngIf="resultPost; else noResult">
    {{ resultPost | json }}
</pre>
PUT
<pre *ngIf="resultPut; else noResult">
    {{ resultPut | json }}
</pre>
PATCH
<pre *ngIf="resultPatch; else noResult">
    {{ resultPatch | json }}
</pre>
DELETE
<pre *ngIf="resultDelete; else noResult">
    {{ resultDelete | json }}
</pre>
<ng-template #noResult>
    <p> Loading...</p>
</ng-template>
<br/>